body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.signup-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#logo a {
    display: block;
    background: center no-repeat url("/img/JTP.png");
    background-size: contain; /* 이미지를 비율에 맞게 조정 */
    width: 50%;
    max-width: 300px; /* 기본 로고의 최대 너비 */
    height: 100px; /* 기본 높이 */
    margin-left: auto;
    margin-right: auto;
}
.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="email"] {
    width: 78%;
}

input[type="tel"] {
    width: 78%;
}

.form-group .check-btn {
    margin-top: 0px;
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group .check-btn:hover {
    background-color: #0056b3;
}

.button {
    width: 100%;
}
button[type="submit"] {
    margin-top: 10px auto 0px auto;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.invalid-feedback {
    font-size: 0.875rem;
    color: #dc3545;
    display: none;
}

.form-group .form-control.is-invalid + .invalid-feedback {
  display: block;
}

@media (max-width: 480px) {
    .signup-container {
        padding: 15px;
    }

    .form-group input,
    .form-group .check-btn {
        padding: 8px;
    }
}
