<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>J-PLAN - 여행 플랜 제작 사이트</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div id = "wrap">
  <div id = "header">
    <div id = "logo">
      <a href="/"></a>
    </div>
    <div id = "menu">
      <a href="#">여행꿀팁</a>
      <a href="#">숙소추천</a>
      <a href="#">여행리뷰</a>
      <a href="#">일정문의</a>
    </div>
    <div id = "intro">
      <h1>Japan Travel Planner</h1>
      <h2>About Us?</h2>
      <p>저희 J-PLAN은 클라이언트 맞춤 일본 여행 플랜 제작 페이지입니다.</p>
      <p>가고 싶은 지역 어디든 여러분의 일정에 맞춰 최적의 계획을 약속드리겠습니다.</p>
    </div>
  </div>


  <div id="section">
    <h1>Hot Trend</h1>
    <div id="trend">
      <li>
        <a href="#">
          <div class="caption"><p>삿포로</p></div>
          <div class="rank _1st"></div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="caption"><p>후쿠오카</p></div>
          <div class="rank _2nd"></div>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="caption"><p>오키나와</p></div>
          <div class="rank _3rd"></div>
        </a>
      </li>
    </div>
  </div>
</div>

</body>
</html>
