<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>
  <link rel="stylesheet" type="text/css" href="/css/signup.css" />
  <script defer src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <script defer src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script defer src="/js/signup.js"></script>
</head>
<body>
<div class="signup-container">
  <div id="logo">
    <a href="/"></a>
  </div>
  <h2>회원가입</h2>
  <form id="signup" novalidate>
    <div class="form-group">
      <input type="email" id="email" name="email" class='form-control' placeholder="이메일" required />
      <button type="button" id="emailCheckBtn" class="check-btn">중복확인</button>
      <div class="invalid-feedback">유효한 이메일을 입력해주세요.</div>
    </div>

    <div class="form-group">
      <input type="password" id="password" name="password" class='form-control' placeholder="비밀번호" required />
      <div class="invalid-feedback">비밀번호는 숫자, 영문, 특수문자가 혼합된 8~16자여야 합니다.</div>
    </div>

    <div class="form-group">
      <input type="password" id="password-confirm" name="password-confirm" class='form-control' placeholder="비밀번호 확인" required />
      <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
    </div>

    <div class="form-group">
      <input type="text" id="name" name="name" class='form-control' placeholder="이름" required />
      <div class="invalid-feedback">올바른 이름을 입력해주세요.</div>
    </div>

    <div class="form-group">
      <input type="tel" id="phone" name="phone" class='form-control' required placeholder="전화번호" maxlength="13"/>
      <button type="button" id="phoneCheckBtn" class="check-btn">중복확인</button>
    </div>

    <div class="button">
      <button type="submit" form="signup">회원가입</button>
    </div>
  </form>
</div>
</body>
</html>
